In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("stock_data.csv")
df

,Datasource: Google finance,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,tickers,eps,revenue,price,people
1,GOOGL,27.82,87,845,larry page
2,WMT,4.61,484,65,n.a.
3,MSFT,-1,85,64,bill gates
4,RIL,not available,50,1023,mukesh ambani
5,TATA,5.6,-1,n.a.,ratan tata

In [6]:
df = pd.read_csv("stock_data.csv", skiprows=1)
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [7]:
df = pd.read_csv("stock_data.csv", header=1, names = ["stock_symbol","eps", "revenue","price","people"])

In [9]:
df = pd.read_csv("stock_data.csv", header=1, nrows=4)
df

  tickers            eps  revenue  price         people
0   GOOGL          27.82       87    845     larry page
1     WMT           4.61      484     65           n.a.
2    MSFT             -1       85     64     bill gates
3    RIL   not available       50   1023  mukesh ambani

In [10]:
df = pd.read_csv("stock_data.csv", header=1, na_values={
    'eps': ["not available"],
    'revenue':[-1],
    'people': ['not available', 'n.a']

})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65           n.a.
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [12]:
df = pd.read_csv("stock_data.csv", header=1, na_values= ["not available", -1, 'n.a'])
df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65           n.a.
2    MSFT    NaN     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [32]:
df["pe"] = df["price"] / df["eps"]
df

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [22]:
df. to_csv("pel.csv", index=False, header= False)

In [31]:
df_movies = pd.read_excel("movies_db.xlsx", sheet_name="movies")
df_movies.head(4)

,movie_id,title,industry,release_year,imdb_rating,studio,language_id
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5
2,103,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,5
3,104,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,5

In [37]:
df_financials = pd.read_excel("movies_db.xlsx", " financials")
df_financials.head(4)

ValueError: Worksheet named ' financials' not found